@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box; /* garante que o elemento ocupa no maximo o espaço definido no width */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    background-color: #FFC107;
    text-align: center;
}

header .menu {
    background-color: #FFA000;
    display: flex;
    justify-content: center;
}

header .menu ul {
    margin: 0;
    /*margin = espaçamento externo */
    list-style: none;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    /* espaçamento interno | 10px pra cima e pra baixo, 15px pras laterais  */
}

header .menu ul li a {
    text-decoration: none;
    /* tirar sublinhado */
    color: white;
    /* muda a cor do texto */
}

main section.banner {
    height: 600px;
    background-image: url(../imagens/banner\ omma.png);
    background-size: cover;
    /*cobre todo o elemento section*/
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;/* alinhamento horizontal pra direita */
    align-items: center;/* alinhamento vertical centralizado */
    height: 600px;
    max-width: 100%;
}

main section.banner h1 {
    color: white;
    font-size: 70px;
    text-transform: lowercase;
    text-shadow: 0px 0px 4px coral;
    padding: 100px;
}

main section.receitas-principais .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    /* largura */
    margin: 0 auto;
    /* espaçamento automatico para centralizar o container */
}



main section.receitas-principais h2 {
    color: #FFA000;
    text-align: center;
    font-weight: bold;
    /*grossura da letra*/
    font-size: 55px;
    text-transform: lowercase;
}

.lista-receitas {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;/*todos os elementos alinhados ao topo*/
    flex-wrap: wrap; /*permite que aconteça a quebra de linhas*/
}

.lista-receitas article {
    /*border: 1px solid orange;*/
    width: 345px;
    /*largura article*/
    text-align: center;
    /*Centralizando tudo no article*/
    margin-bottom: 60px;
}

.lista-receitas article .thumb {
    width: 100%;
    /*imagem vai ocupar 100% do article*/
    height: 265px;
    /*altura do thumb*/
    /*background-color: #FFA000;*/
    /*para teste*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.lista-receitas article h3 {
    font-size: 26px;
}


.lista-receitas article a {
    background-color: #176902;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 6px;
}

section.banner-secundario {
    background-image: url(/imagens/comer-e-viver.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container {
    min-height: 600px;
    width: 1200px;/* largura */
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;/*itens em coluna*/
    justify-content: center;/*alinhamneto centralizado na vertical*/
}
/*pg 2
*/
section.banner-secundario .container h2{
    font-size: 62px;
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}

section.banner-secundario .container p{
    color: white;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    max-width: 100%;
}

footer{
    background-color: #FFC107;
    color: white;
    font-weight: 700px;
    font-size: 18px;
}

footer .container{
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p {
    padding: 0 15px;
}

/*páginas receitas*/

main section.todas-receitas .container{
min-width: 600px;
width: 1200px;
max-width: 100%;
margin: 0 auto;
padding: 50px 0;


}
main section.todas-receitas h2{
    color: #FFA000;
    font-weight: bold;
    font-size: 50px;
    text-transform: lowercase;
}

/*receita pt 3*/
.receita-individual {
    width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.receita-individual  main {
    width: 700px;
}

.receita-individual  main img {
    width: 100%;
}

/*.receita-individual{
    display: flex;
}*/
main section.receita .container{
    color: #FFA000;
    max-width: 100%;
}

main section.receita .risoto img{
    background-color: rgb(255, 81, 0);
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
}

.tag{
    border-radius: 20px;
    padding: 5px;
    margin: 25px;
    border:solid green;
    color: #176902;
}
 section.receita{
    padding: 60px;
 }

 section.modo-preparo{
    padding: 60px;
 }
 
 aside article.receita-relacionada {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 70px 0;
    
}

aside article.receita-relacionada .thumb {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
border-radius: 4px;
}

    aside article.receita-relacionada h3 {
        padding: 10px;
        margin: 0;
        text-transform: lowercase;
        text-align: center;
        color: #FFA000;
    }
    aside h3{
        color: #FFA000;
    }

    /**página contato/
/* Página Contato */
.banner-contato {
    width: 100%;
    height: 400px;
    background-image: url(/imagens/pessoas.png);
    background-size: cover;
    background-position: center;
}
.banner-contato .container,section.contato .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}
.banner-contato .container h1 {
    color: #fff;
    font-size: 70px;
    max-width: 100%;
}
.banner-vertical {
    width: 30%;
    height: 700px;
    background-image: url(/imagens/telefone.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.formulario {
    border: 1px solid #FFA000;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
    width: 70%;
}
.formulario h2 {
    color: #FFA000;
} 

.formulario form input{
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}

.formulario form textarea{
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    height: 200px; 
}
.formulario form button{
    font-size: 16px;
    background-color: #FFA000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius:30px ;
    transition: 0.3ms;
}
.formulario form button:hover {
    background-color: green;
    border-color: green;
    cursor: pointer;
}
@media(max-width: 1100px){
    .container {width:900px !important;}


main section.banner .container{justify-content: flex-start;}

 .lista-receitas article{width: 250px; }

 .receita-individual main{
    width: 500px;
 }

 .receita-individual main iframe{ width: 100%;}

 main section.receita{max-width: 100%;}

}

@media(max-width: 900px){

.container, .receita-individual {
    width: 800px !important;
    padding: 0 20px;
    
}
lista-receitas article {padding: 10px;}
}
@media (max-width: 1100px){

section .container .lista-receitas article {width: 100%;}
.lista-receitas article .thumb{width: 60%;}


    }
    @media(max-width:600px){
        aside{max-width: 100%;}
    }
   


